In [1]:
sequence = [1,2,3,4,5]

In [3]:
for num in sequence:
    print(num)

1
2
3
4
5

In [4]:
for num in sequence:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [6]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [7]:
for x in sequence:
    print(x)

1
2
3
4
5

In [8]:
range(0,5)

range(0, 5)

In [9]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [10]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
x = [1,2,3,4]

In [13]:
out = []

In [14]:
for num in x:
    out.append(num**2)

In [15]:
print(out)

[1, 4, 9, 16]

In [16]:
[num**2 for num in x]

[1, 4, 9, 16]

In [17]:
out = [num**2 for num in x]

In [18]:
out

[1, 4, 9, 16]

In [19]:
def my_func(param1):
    print(param1)

In [20]:
my_func(1)

1

In [21]:
my_func('Abhishek')

Abhishek

In [23]:
def my_func2(param1):
    print('Hello '+param1)

In [24]:
my_func2('Abhishek Verma')

Hello Abhishek Verma

In [25]:
def my_func3(name = 'Anonymous User'):
    print('Hello '+name)

In [26]:
my_func3()

Hello Anonymous User

In [27]:
my_func3('Abhishek Verma')

Hello Abhishek Verma

In [28]:
my_func3

In [31]:
def square(num):
    """ 
    This is a doc string and can go multiple lines
    This function return sqaure of a number
    """
    return num**2

In [33]:
square(4)

16

In [ ]:
range